<div class="container-{breakpoint} bg-light" >
  <%# ----チャット画面-------- %>
  <div class="chat border border-5 bg-light col-7 p-5 ">
    <div class="message-field">
      <div class="message d-flex flex-row align-items-start mb-4">
        <div class="message-icon rounded-circle bg-primary text-white fs-2">
          <i class="fa-solid fa-school"></i>
        </div><!-- .message-icon -->
        <p class="message-text p-2 ms-2 mb-0 bg-warning">
          サンプルテキスト。
        </p><!-- .message-text -->
      </div><!-- .message -->
      <div class="message d-flex flex-row-reverse align-items-start mb-4">
        <div class="message-icon rounded-circle bg-secondary text-white fs-3">
          <i class="fas fa-user"></i>
        </div><!-- .message-icon -->
        <p class="message-text p-2 me-2 mb-0 bg-info">
        サンプルテキスト。
        </p><!-- .message-text -->
      </div><!-- .message -->
    </div>
  </div>
  <div class="message-input bg-primary col-7">
    <form>
      <div class="row col-12 ">
        <div class="col-7">
          <input type="text" class="form-control p-2 m-1" placeholder="メッセージ" id="message-area">
        </div>
        <div class="image col-2 p-2">
          <label>
            <span class="btn btn-light">
                画像
              <input type="file" style="display:none">
            </span>
          </label>
        </div>
        <div class="message-btn float-end col-2 p-2 ms-3 ">
          <button type="submit" class="btn btn-light ">送信</button>
        </div>
      </div>
  </div>
</div>
  <%# ----//チャット画面//-------- %>

