<div class="container-{breakpoint}">
  <div class="side-bar bg-praimary" >
    <div class="rooms">
      <div class="room p-4">
        <div class="room-name ps-5">
          <%= link_to "room1","#", class:"text-decoration-none text-reset fs-4"%>
        </div>
        <div class="room-name ps-5 mt-2">
          <%= link_to "room1","#", class:"text-decoration-none text-reset fs-4"%>
        </div>
      </div>
    </div>
  </div>
</div>

