<%= render "shared/header" %>
<%# メイン画面 %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-chat">
    <%= render "main_chat" %>
  </div>
</div>
<%# //メイン画面 %>
<%= render "shared/footer" %>