.footer {
  max-width: 100vw;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.footer-name {
  font-size:30px;
  color : red;
  margin-left: 20px;
}