

.sidebar {
  top: 0;
  left: 0;
  height: 100%;
}

.navbar{
  height: 60px;
}

.login-btn{

  font-size: 20px;
  font-weight: 200px;
}
.sign-btn{
  font-size: 20px;
  font-weight: 200px;
}
.navbar-nav {
  margin-left: 60%;
}
.login-name{
  font-size: 20px;
  font-weight: 200px;
}
.logout-btn{
  font-size: 20px;
  font-weight: 200px;
}