<footer class="footer bg-info shadow-lg">
	<div class="container text-center">
	  <p class="text-muted">©︎<?php echo $year;?> ikeda<br>
		<i class="fa-sharp fa-solid fa-map-location-dot"></i> 和歌山県⚪︎⚪︎市⚪︎⚪︎1-1-1 </p>
	</div>
</footer>