<nav>
  <div class="container-fluid bg-primary">
    <div class="footer bg-bs-light-bg-subtle border-primary-subtle rounded-1">
      <div class="footer-name ">
        <%= link_to "name","#" ,class: "text-decoration-none text-reset" %>
      </div>
    </div>
  </div>
</nav>