<%= render "shared/header" %>
<%# メイン画面 %>
<div container-field>
  <div class="wrapper">
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>
  </div>
</div>
<%# //メイン画面 %>
<%= render "shared/footer" %>